*{
    margin:0;
    padding: 0;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.mainmessage{
    position: absolute;
    width: 1000px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

header{
    background-image: linear-gradient(to right,  rgba(247,179,234,1), rgba(247,179,234,0)), url(images/background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

h1{
    color: white;
    margin-left: 50px;
    font-size: 250%;
}

.allitems{
    list-style: none;
    float: right;
    margin-right: 50px;
    margin-top: 70px;
}

.allitems .eachitem{
    display: inline;
    margin-left: 20px;
    color:white;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
  
}

.allitems .eachitem:hover{
    color:gold;
    border-bottom: 1px solid gold;
    transition: all 0.3s ease-in;
    padding: 6px 0px;
   
}

.logo{
    height: 150px;
    margin-top: 25px;
    float: left;
    margin-left: 50px
}

.button{
    border: 2px solid gold;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    
    border-radius: 15px;
    margin-right: 10px;
    
}

.buttoncontainer{
    margin-top: 20px;
    margin-left: 50px;
}

.button:hover{

    background-color: gold;
    color: palevioletred;
    transition: all 0.4s ease-in;
   

    
}